<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ country[0] }}</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .content {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="content">
        <h1>{{ country[0] }}</h1>
        <p>Video Linki:</p>
        <a href="{{ country[1] }}" >{{ country[1] }}</a>
        <p>Başkent: {{ country[2] }}</p>
        <p>Ülke Kodu: {{ country[3] }}</p>
        <p>Nüfus: {{ country[4] }}</p>
        <p>Para Birimi: {{ country[5] }}</p>
        <p>Gezdiğim Şehri: <a href="spec.html">{{ country[6] }}</a></p>
        <!--  <p>Ölümsüzleştirmek adına çektiğimiz bazı fotoğraflar: {{ country[7] }} </p> -->
        <img src="data:image/jpeg;base64,{{ foto }}" alt="Ülke Fotoğrafı">
    </div>
</body>
</html>
