<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ülkeler</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .content {
            text-align: center;
        }
        h1, h2 {
            color: #008000;
        }
    </style>
</head>
<body>
    <div class="content">
        <h1>Bi'anda Blog sayfasına hoş geldiniz :) </h1>
        <h2>İşte hakkında bilgi alabileceğiniz ülkeler:</h2>
        <ul>
            {% for country in countries %}
                <li><a href="/country/{{ loop.index }}">{{ country[0] }}</a></li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
